html{
    width:100%;
    max-width:100vw;
    max-height:100vh;
    height:100%;
    padding:0;
    margin:0;
    overflow-y:scroll;
}

body {
  margin:0;
  padding:0;
  width:auto;
  height:auto;
  background-color:white;
  overflow-y:scroll;
  -webkit-text-size-adjust: none; 
  -ms-text-size-adjust:none;

}
.comp_bolddescription,.comp_descriptionm,aboutme {  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;}
a, button{color:RGB(150,150,150);text-decoration-color:black;
}

.strike{color:RGB(150,150,150);text-decoration-color:black;}

.always{display:none;}
#more:hover{color:black;}
.bottom{padding-bottom:0;}
@font-face {
  font-family:A90;
  src: url('AUTHENTICSans-90.otf'), url('AUTHENTICSans-90.woff'), url('AUTHENTICSans-90.woff2');
}


@media only screen and (max-width: 904px) {

html{  -webkit-text-size-adjust: none; 
  -ms-text-size-adjust:none;}
  body{   
    font-family:A90;
    font-size:15px;
    letter-spacing:.2px;
    line-height:20px;
    width:100vw;
    overflow-x:hidden;

  }


  .name{display:inline-block;padding-bottom:0;}
  .mainhead{padding:0;height:auto;}
.index{height:auto;}
.born, .aboutme, .name,  .say{display:inline;grid-column:1/3;padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:20px;}
.aboutme{padding-bottom:50px;}
  .name a{text-decoration:none;color:RGB(150,150,150);}
  a:hover{text-decoration:line-through;}
  a:active, .strike:active{text-decoration:line-through;}
  .hideformobile{display:none;}
  .hideformobile,.hide{padding-left:0;padding-right:0;}
  .hide{display:inline}
  .noshow{display:none;}
  
  .born{display:none;}
  .index{display:grid;grid-template-columns:50px auto;width:100%;}
  .work{float:left;}
  .year{padding-left:10px;display:inline-block;}
  .work{padding-left:10px;}
  .client{text-align:right;padding-right:10px;width: calc(100% - 60px);
  }
  .nolink{
    color: currentColor;
    pointer-events: none;
     text-decoration: none;
     letter-spacing:.2px;
    
  }
  .spaceradjustclient{text-align:right;float:right;padding-right:10px;}
  .strike:hover{text-decoration:line-through;}
  .email{
    -webkit-user-select: all;
    user-select: all;
    font-family:A90;
    /* unnecessary for the email
    box-shadow: 0px 0px 10px white;*/
padding-right:10px;
    float:right;
    
    }
  .email:focus{
    border: 2px dashed #31808c;
    outline: none;
    animation: select 100ms step-end forwards;
      -webkit-user-select: all;
  user-select: all;
  }
.headerspacer{display:none;}

.index > .client{width:100%;}


  a{text-decoration:none;color:RGB(150,150,150);}
  .descspacer{display:none;}
  img{padding:0;width:100vw;}
  .groupmobileonly{padding-left:10px;}
  .checkfooter{position:absolute;float:bottom;}
  .checkoutmore{position:absolute;grid-column:1/3;float:bottom;padding-left:10px;}
.bottom{padding-bottom:20px;}
.client{float:right;}
.comp_details{grid-column:1/6;padding-left:10px;padding-top:10px;padding-bottom:15px;height:auto;display:block;}
.comp_bolddescription{grid-column:1/6;padding-left:10px;padding-right:10px;padding-bottom:0px;}
.comp_description{display:none;}
#more{display:none;    font-size:15px;}

button{margin-bottom:50px;font-family:A90;font-size:15px;background-color:white;border:none;padding-left:0;margin-left:0;}
button:hover{text-decoration:line-through;}
.alternatehrtext{
  font-size:15px;
  letter-spacing:.2px;
  line-height:20px;

  left:0;
  z-index:1000;
  width:1000px;
  padding-bottom:20px;
  padding-left:10px;
}

.hr-text {
  display:none;
  font-size:15px;
  letter-spacing:.2px;
  line-height:20px;
}

.spaceradjust{padding-right:20px;display:inline-block;    font-size:15px;}

.always{display:none;z-index:-999;color:transparent;}

.shorten{display:none;}
.images{width:100vw;}
a:hover {color:black;}

}


@media only screen and (min-width:905px) and (max-width:1197px){body{

  /* to make hwa-jin jun and profile side by side
   display:inline-flex;*/
     width:100%;
 }





  li {
         display: inline;
       }
       
       
       /* for email munging*/
       .noshow{
         display:none;
       }

       .nolink{
         color: currentColor;
         pointer-events: none;
          text-decoration: none;
          
       }





   
   .email{ position:fixed; 
   left:0;
   bottom:0;
   line-height:27px;
   font-size:18.5px;
   font-family:A90;

   padding-left:10px;
   padding-bottom:5px;
   -webkit-user-select: all;
   user-select: all;

   z-index:100;
   /* unnecessary for the email
   box-shadow: 0px 0px 10px white;*/
   
   }


   
   .email:focus{
     border: 2px dashed #31808c;
     outline: none;
 
     animation: select 100ms step-end forwards;
     -webkit-user-select: all;
     user-select: all;
   }
   
 
  /* color:rgb(30, 30, 30);*/
   


.grid {
 background-color:none;
 display:grid;
}
.index{
 display: grid;
 grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 150px 1fr 1fr 1fr 1fr 1fr;

 padding-top: 10px; 
 padding-bottom: 10px; 
 padding-right: 10px; 
 padding-left:0;
 font-family:A90;
 line-height:27px;
 /*background-color:rgba(255, 255, 255, 0.75);
 -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
-moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
box-shadow:0px 1px 5px rgba(255, 255, 255, 1);*/

 

}
a {text-decoration:none;display:inline-block;}
a:hover {color:black;text-decoration:line-through;display:inline-block;}

.destoimg  {
 display: none;
}

.show {
 display: contents;
}

.spaceradjustclient{text-align:right;display:inline-block;float:right;padding-right:10px;}

.strike:hover{text-decoration:line-through;width:auto;cursor:pointer;color:black;}
.name{
 grid-column-start:1;
 grid-column-end:4;
 letter-spacing:.5px;
}
.born{padding-left:5px;display:inline-block;

}
.noclick{background-color:none;width:60vw;height:90vh;position:fixed;z-index:99;bottom:0;left:0;}

.aboutme, .comp_bolddescription{  
 grid-column-start:5;
 grid-column-end:13;
 line-height:27px;
 letter-spacing: .25px;
 
 padding-right:10px;}

.aboutme{font-size:18.5px;}

.year{
 grid-column-start:7;
 grid-column-end:7;
 padding-left:30px;



}
.client{grid-column:8/13;font-size:18.5px;
 }
.year,.name{font-size:18.5px;}


.index > div {
 background-color: none;
 
 
 
}


.client{display:inline-block;}



/*design to page*/



.comp_details{grid-column:5/13;  padding-top:10px;
 padding-left:0px;display:inline-block;font-size:18.5px;}





.comp_bolddescription{
 position:relative;
 font-family:A90;
 font-size:18.5px;
 background-color:none;
 grid-column:5/14;
 bottom:0;
 padding-bottom:10px;
 padding-right:0;
 

}

.work{
 width:200px;color:black;background-color:none;grid-column:5/7;padding-top:30px;}
.aboutme{padding-bottom:10px;}
.comp_description{
 position:relative;
 font-family:A90;
 line-height:27px;
 letter-spacing: .25px;
 background-color:none;
 
 padding-right:10px;
 grid-column:8/13;
 bottom:0;

}

.comp_description{font-size:18.5px;}

.images{
 position:relative;
 float:left top;
 padding-left:0;
 grid-column:1/8;
 width:95%;
 top:5px;



}

#gif2{width:100%;}
#busshel{width:100%;}
#gif1{width:100%;}
#vinylposter{width:70%;}
#award1{width:100%;}
#ad1{width:100%;}
#ad2{width:100%;padding-top:0px;}



.alternatehrtext{font-size:18.5px;
 letter-spacing: .25px;
 line-height:27px;
padding-bottom:30px;
padding-top:5px;
padding-left:10px;}
.hr-text {
 display:none;
 line-height: 1px;
 position: relative;
 outline: 0;
 border: 0;
 padding:0;
 color: rgb(150,150,150);
 text-align: right;
 
 width:100%;
 font-size:18.5px;
 letter-spacing: .25px;
 line-height:27px;
 top:-20px; 
padding-bottom:40px;
}
 

 .hr-text:before {
   font-family:A90;
   content: '';
   width:1vw;
   background:black;
   position: absolute;
   height: 1px;  
   top:6px;
   color:black;
   letter-spacing:.25px;
   display:none;
   
 }
 .hr-text:after {
   font-family:A90;
  font-family:A90;
   content: attr(data-content);
   position: absolute;
  
   color: rgb(150,150,150); letter-spacing:.25px;
   line-height:3px;
   padding-left:calc(1.16vw);
   display:none;
 }

 
   
.checkoutmore{font-family:A90;font-size:18.5px;padding-left:0;grid-column:8/13;}




.designtop{
 background-image:url("/index.html");
}


 .mail{
   font-family:A90; 
 }

 .compheadindex{
   position:fixed;width:100%;height:auto;padding-bottom:5px;padding-top:0;padding-right:10px;padding-left:0;z-index:1000;background-color:white;
 }
 .mainhead{padding-left:10px;}

.headspacer{
 width:100%;height:80px;
}

 .namehead{
   padding-top:10px;padding-left:10px;
 }

 .headerspacer{height:1px;width:70px;display:inline-block;}


.descspacer{width:100%;height:20px;}

.checkfooter{padding-bottom:5px;}

.hide{display:none;}
.mainhead{padding-top:10px;}
.hideformobile{display:inline-block;}
#dots,#myBtn,#more{display:none;}


.spaceradjust{display:none;}
.shorten{display:contents;}
}

/* for width that the captions are tucked underneath the images / photos */
@media only screen and (min-width:1198px) and (max-width:1416px){
  body{

  /* to make hwa-jin jun and profile side by side
   display:inline-flex;*/
   width:100%;
  }
 
 
 
 
 
   li {
          display: inline;
        }
        
        
        /* for email munging*/
        .noshow{
          display:none;
        }
 
        .nolink{
          color: currentColor;
          pointer-events: none;
           text-decoration: none;
           
        }
 
 
 
 
 
    
    .email{ position:fixed; 
    left:0;
    bottom:0;
    font-size:25px;
    line-height:33px;
    font-family:A90;
    padding-left:10px;
    padding-bottom:5px;
    -webkit-user-select: all;
    user-select: all;
 
    z-index:100;
    /* unnecessary for the email
    box-shadow: 0px 0px 10px white;*/
    
    }
 
 
    
    .email:focus{
      border: 2px dashed #31808c;
      outline: none;
  
      animation: select 100ms step-end forwards;
      -webkit-user-select: all;
      user-select: all;
    }
    
  
   /* color:rgb(30, 30, 30);*/
    
 
 
 .grid {
  background-color:none;
  display:grid;
 }
 .index{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 150px 1fr 1fr 1fr 1fr 1fr;
 
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 10px; 
  padding-left:0;
  font-family:A90;

  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;
  /*background-color:rgba(255, 255, 255, 0.75);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 box-shadow:0px 1px 5px rgba(255, 255, 255, 1);*/
 
  
 
 }
 a {text-decoration:none;display:inline-block;}
 a:hover {color:black;text-decoration:line-through;display:inline-block;}
 
 .destoimg  {
  display: none;
 }
 
 .show {
  display: contents;
 }
 
 .spaceradjustclient{text-align:right;display:inline-block;float:right;padding-right:10px;}
 
 .strike:hover{text-decoration:line-through;width:auto;cursor:pointer;color:black;}
 .name{
  grid-column-start:1;
  grid-column-end:4;

  letter-spacing:.4px;
 }
 .born{padding-left:5px;display:inline-block;
 
 }
 .noclick{background-color:none;width:60vw;height:90vh;position:fixed;z-index:99;bottom:0;left:0;}
 
 .aboutme, .comp_bolddescription{  
  grid-column-start:5;
  grid-column-end:13;
  
  padding-right:10px;}
 
 .aboutme{
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;}
 
 .year{
  grid-column-start:7;
  grid-column-end:7;
  padding-left:30px;
 
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;
 
 
 }
 .client{grid-column:8/13;
  font-size:25px;
  line-height:33px;
  letter-spacing:0px;
  }
 .year,.name{
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;}
 
 
 .index > div {
  background-color: none;
  
  
  
 }
 
 
 .client{display:inline-block;}
 
 
 
 /*design to page*/
 
 
 
 .comp_details{grid-column:5/13;  padding-top:10px;
  padding-left:0px;display:inline-block;}
 
 
 
 
 
 .comp_bolddescription{
  position:relative;
  font-family:A90;
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;
  background-color:none;
  grid-column:5/14;
  bottom:0;
  padding-bottom:10px;
  padding-right:0;
  
 
 }
 
 .work{
  width:200px;color:black;background-color:none;grid-column:5/7;padding-top:30px;}
 .aboutme{padding-bottom:10px;}
 .comp_description{
  position:relative;
  font-family:A90;
  letter-spacing: .25px;
  line-height:27px;
  font-size: 18.5px;
  background-color:none;
  
  padding-right:10px;
  grid-column:8/13;
  bottom:0;
 
 }
 
 .comp_description{font-size:18.5px;}
 
 .images{
  position:relative;
  float:left top;
  padding-left:0;
  grid-column:1/8;
  width:95%;
  top:5px;
 
 
 
 }
 
 #gif2{width:100%;}
 #busshel{width:100%;}
 #gif1{width:100%;}
 #vinylposter{width:70%;}
 #award1{width:100%;}
 #ad1{width:100%;}
 #ad2{width:100%;padding-top:0px;}
 
 
 
 .alternatehrtext{
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;
 padding-bottom:30px;
 padding-top:5px;
 padding-left:10px;display:none;}
 

.hr-text {
  line-height: 1px;
  position: relative;
  outline: 0;
  border: 0;
  padding:0;
  text-align: right;
  
  width:100%;
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;
  top:-5px; 
padding-bottom:40px;
}
  

  .hr-text:before {
    font-family:A90;
    content: '';
    width:2vw;
    background:black;
    position: absolute;
    height: 1px;  
    top:4px;
    color:black;
    font-size:25px;
    line-height:33px;
    letter-spacing:.4px;

    
  }
  .hr-text:after {
    font-family:A90;

    content: attr(data-content);
    position: absolute;
    font-size:25px;
    line-height:33px;
    letter-spacing:.4px;
    line-height:3px;
    padding-left:calc(2.8vw);
  
  }

  
 
  
    
 .checkoutmore{font-family:A90;
  font-size:25px;
  line-height:33px;
  letter-spacing:.4px;padding-left:0;grid-column:8/13;}
 
 
 
 
 .designtop{
  background-image:url("/index.html");
 }
 
 
  .mail{
    font-family:A90; 
    font-size:25px;
    line-height:33px;

  }
 
  .compheadindex{
    position:fixed;width:100%;height:auto;padding-bottom:5px;padding-top:0;padding-right:10px;padding-left:0;z-index:1000;background-color:white;
  }
  .mainhead{padding-left:10px;}
 
 .headspacer{
  width:100%;height:80px;
 }
 
  .namehead{
    padding-top:10px;padding-left:10px;
  }
 
  .headerspacer{height:1px;width:70px;display:inline-block;}
 
 
 .descspacer{width:100%;height:20px;}
 
 .checkfooter{padding-bottom:5px;}
 
 .hide{display:none;}
 .mainhead{padding-top:10px;}
 .hideformobile{display:inline-block;}
 #dots,#myBtn,#more{display:none;}
 
 
 .spaceradjust{display:none;}
 .shorten{display:contents;}
 }


@media only screen and (min-width:1417px) and (max-width:2000px){
  body{

   /* to make hwa-jin jun and profile side by side
    display:inline-flex;*/
      width:100%;
  }





   li {
          display: inline;
        }
        
        
        /* for email munging*/
        .noshow{
          display:none;
        }

        .nolink{
          color: currentColor;
          pointer-events: none;
           text-decoration: none;
           
        }





    
    .email{ position:fixed; 
    left:0;
    bottom:0;
    font-size:30px;
    font-family:A90;

    padding-left:10px;
    padding-bottom:5px;
    -webkit-user-select: all;
    user-select: all;

    z-index:100;
    /* unnecessary for the email
    box-shadow: 0px 0px 10px white;*/
    
    }


    
    .email:focus{
      border: 2px dashed #31808c;
      outline: none;
  
      animation: select 100ms step-end forwards;
      -webkit-user-select: all;
      user-select: all;
    }
    
  
   /* color:rgb(30, 30, 30);*/
    
   .aboutme{padding-bottom:10px;}

.grid {
  background-color:none;
  display:grid;
}
.index{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 150px 1fr 1fr 1fr 1fr 1fr;
  font-size: 30px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 10px; 
  padding-left:0;
  font-family:A90;
  line-height:43px;
  /*background-color:rgba(255, 255, 255, 0.75);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 box-shadow:0px 1px 5px rgba(255, 255, 255, 1);*/

  

}
a {text-decoration:none;display:inline-block;}
a:hover {color:black;text-decoration:line-through;display:inline-block;}

.destoimg  {
  display: none;
}

.show {
  display: contents;
}



.strike:hover{text-decoration:line-through;width:auto;cursor:pointer;color:black;}
.name{
  grid-column-start:1;
  grid-column-end:4;
  letter-spacing:.1px;
}
.born{padding-left:70px;display:inline-block;

}
.noclick{background-color:none;width:60vw;height:90vh;position:fixed;z-index:99;bottom:0;left:0;}

.aboutme, .comp_bolddescription{  
  grid-column-start:5;
  grid-column-end:13;
  line-height:40px;
  letter-spacing:.1px;
  
  padding-right:10px;}
.aboutme{padding-bottom:30px;}
.year{
  grid-column-start:7;
  grid-column-end:7;


  float:right;
  

  


 
}
.client{grid-column:8/13;
  }

.project{
  display:none;
font-size:13pt;
grid-column-start:5;
  grid-column-end:5;
text-align:left;

}

.index > div {
  background-color: none;
  
  
  
}
  
.work{
  width:1000px;color:black;background-color:none;grid-column:5/7;padding-top:50px;}


.client{display:inline-block;}



/*design to page*/



.comp_details{grid-column:5/13;  padding-top:10px;
  padding-left:0px;}





.comp_bolddescription{
  position:relative;
  font-family:A90;
  font-size:30px;
  background-color:none;
  grid-column:5/13;
  bottom:0;
  padding-bottom:20px;
  padding-left:5px;

}

.comp_description{
  position:relative;
  font-family:A90;
  font-size:18.5px;
  letter-spacing: .25px;
  line-height:27px;
  
  background-color:none;
  
  padding-right:10px;
  grid-column:8/13;
  bottom:0;

}

.images{
  position:relative;
  float:left top;
  padding-left:0;
  grid-column:1/8;
  width:98%;
  top:5px;


}

#gif2{width:100%;}
#busshel{width:100%;}
#gif1{width:100%;}
#vinylposter{width:70%;}
#award1{width:100%;}
#ad1{width:100%;}
#ad2{width:100%;padding-top:0px;}




.hr-text {
  line-height: 1px;
  position: relative;
  outline: 0;
  border: 0;
  padding:0;
  text-align: right;
  
  width:100%;
  font-size:30px;
  letter-spacing: .25px;
  line-height:27px;
  top:-5px; 
padding-bottom:40px;
}
  

  .hr-text:before {
    font-family:A90;
    content: '';
    width:1vw;
    background:black;
    position: absolute;
    height: 1px;  
    top:4px;
    color:black;
    letter-spacing:.25px;

    
  }
  .hr-text:after {
    font-family:A90;
   font-family:A90;
    content: attr(data-content);
    position: absolute;
 letter-spacing:.25px;
    line-height:3px;
    padding-left:calc(1.16vw);
  
  }

  
    
.checkoutmore{font-family:A90;font-size:30px;padding-left:0;grid-column:8/13;}




.designtop{
  background-image:url("/index.html");
}


  .mail{
    font-family:A90; 
  }

  .compheadindex{
    position:fixed;width:100%;height:auto;padding-bottom:5px;padding-top:0;padding-right:10px;padding-left:0;z-index:1000;background-color:white;
  }
  .mainhead{padding-left:10px;}

.headspacer{
  width:100%;height:100px;
}

  .namehead{
    padding-top:10px;padding-left:10px;
  }

  .headerspacer{height:1px;width:70px;display:inline-block;}


.descspacer{width:100%;height:20px;}

.checkfooter{padding-bottom:5px;}

.hide{display:none;}
.mainhead{padding-top:10px;}
.hideformobile{display:inline-block;}
.alternatehrtext{display:none;}
#dots,#myBtn,#more{display:none;}
.spaceradjust{height:1px;width:70px;display:inline-block;}
.shorten{display:none;}
}


@media only screen and (min-width:2001px) {
  body{

   /* to make hwa-jin jun and profile side by side
    display:inline-flex;*/
      width:100%;
  }





   li {
          display: inline;
        }
        
        
        /* for email munging*/
        .noshow{
          display:none;
        }

        .nolink{
          color: currentColor;
          pointer-events: none;
           text-decoration: none;
           
        }





    
    .email{ position:fixed; 
    left:0;
    bottom:0;
    font-size:40px;
    font-family:A90;

    padding-left:10px;
    padding-bottom:5px;
    -webkit-user-select: all;
    user-select: all;

    z-index:100;
    /* unnecessary for the email
    box-shadow: 0px 0px 10px white;*/
    letter-spacing:-.5px;
    }


    
    .email:focus{
      border: 2px dashed #31808c;
      outline: none;
  
      animation: select 100ms step-end forwards;
      -webkit-user-select: all;
      user-select: all;
    }
    
  
   /* color:rgb(30, 30, 30);*/
    


.grid {
  background-color:none;
  display:grid;
}
.index{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 80px 1fr 1fr 1fr 1fr 1fr;
  font-size: 40px;
  padding-top: 10px; 
  padding-bottom: 10px; 
  padding-right: 10px; 
  padding-left:0;
  font-family:A90;

  /*background-color:rgba(255, 255, 255, 0.75);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
 box-shadow:0px 1px 5px rgba(255, 255, 255, 1);*/

  

}
a {text-decoration:none;display:inline-block;}
a:hover {color:black;text-decoration:line-through;display:inline-block;}

.destoimg  {
  display: none;
}

.show {
  display: contents;
}



.strike:hover{text-decoration:line-through;width:auto;cursor:pointer;color:black;}
.name{
  grid-column-start:1;
  grid-column-end:4;
  letter-spacing:.5px;
}
.born{padding-left:70px;display:inline-block;

}
.noclick{background-color:none;width:60vw;height:90vh;position:fixed;z-index:99;bottom:0;left:0;}

.aboutme, .comp_bolddescription{  
  grid-column-start:5;
  grid-column-end:13;
  line-height:55px;
  letter-spacing:.5px;
  
  padding-right:10px;}

  .aboutme{padding-bottom:20px;}
.year{
  grid-column-start:8;
  grid-column-end:8;
letter-spacing:-.5px;
text-align:right;padding-right:100px;

  

  


 
}
.client{grid-column:9/14;

  }



.index > div {
  background-color: none;
  
  
  
}
  
.work{
  grid-column:5/12;color:black;background-color:none;padding-top:36px;

}
.client{display:inline-block;}



/*design to page*/



.comp_details{grid-column:5/13;  padding-top:10px;
  padding-left:0px;}





.comp_bolddescription{
  position:relative;
  font-family:A90;
  font-size:40px;
  background-color:none;
  grid-column:5/13;
  
  bottom:0;
  padding-bottom:20px;
  padding-left:5px;

}

.comp_description{
  position:relative;
  font-family:A90;
  font-size:30px;
  letter-spacing: .25px;
  line-height:42px;
  
  background-color:none;
  
  padding-right:10px;
  grid-column:9/13;
  bottom:0;

}

.images{
  position:relative;
  float:left top;
  padding-left:0;
  grid-column:1/9;
  width:98%;
  top:5px;


}

#gif2{width:100%;}
#busshel{width:100%;}
#gif1{width:100%;}
#vinylposter{width:70%;}
#award1{width:100%;}
#ad1{width:100%;}
#ad2{width:100%;padding-top:0px;}




.hr-text {
  line-height: 1px;
  position: relative;
  outline: 0;
  border: 0;
  padding:0;
  text-align: right;
  
  width:100%;
  font-size:30px;
  letter-spacing: .25px;
  line-height:45px;
  top:-10px; 
padding-bottom:40px;
}
  

  .hr-text:before {
    font-family:A90;
    content: '';
    width:1vw;
    background:black;
    position: absolute;
    height: 1px;  
    top:9px;
    color:black;
    font-size:30px;
    letter-spacing: .25px;
    line-height:45px;

    
  }
  .hr-text:after {
    font-family:A90;
   font-family:A90;
    content: attr(data-content);
    position: absolute;
   
 letter-spacing:.25px;
    line-height:0px;
    padding-left:calc(1.16vw);
  
  }

  
    
.checkoutmore{font-family:A90;font-size:40px;padding-left:0;grid-column:9/13;}




.designtop{
  background-image:url("/index.html");
}


  .mail{
    font-family:A90; 
  }

  .compheadindex{
    position:fixed;width:100%;height:auto;padding-bottom:5px;padding-top:0;padding-right:10px;padding-left:0;z-index:1000;background-color:white;
  }
  .mainhead{padding-left:10px;}

.headspacer{
  width:100%;height:100px;
}

  .namehead{
    padding-top:10px;padding-left:10px;
  }

  .headerspacer{height:1px;width:70px;display:inline-block;}


.descspacer{width:100%;height:20px;}

.checkfooter{padding-bottom:5px;}

.hide{display:none;}
.mainhead{padding-top:10px;}
.hideformobile{display:inline-block;}
.alternatehrtext{display:none;}
#dots,#myBtn,#more{display:none;}
.spaceradjust{height:1px;width:70px;display:inline-block;}
.shorten{display:contents;}
}